@import "../node_modules/bootstrap/scss/bootstrap";

body {
    padding-top: 70px; 
    font-size: 20px;
}

#navigation {
    border-bottom: 1px solid lightgray;
    box-shadow: 0 1px 3px lightgray;
}

#profile-headshot { 
    margin: auto;    
    display: block;
    width: 225px; 
    max-width: 100%;
}

i:hover{ color: black; transform: rotate(10deg); }
#github{ color: #2ea44f; }
#linkedin{ color: rgb(0, 0, 240); }
#email{ color: rgb(240, 0, 0); }

.card{
    height: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-wrapper{
    display: flex;
    max-width: 70%;
    max-height: 75%;
}

.card-img{
    max-width: 100%;
    width: auto;
    max-height: 100%;
    margin: auto;
}

.card-img-overlay{ 
    background-color: black;
    opacity: 0;
    padding: .5em 1em;
    transition: opacity 0.75s;
}

.card-img-overlay:hover{ opacity: 0.5; }

.card-overlay-links{	
    position : absolute;
    bottom : 0;
}

footer {
    border-top: 1px solid lightgray;
    box-shadow: 0 -1px 3px lightgrey;
}

.designed-by {
    font-size: .75em;
    text-decoration: none;
    color: black;
}